.hamburguer-menu {
  width: 35px;
  height: 35px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  padding: 7px 0px;

  span {
    display: block;
    width: 80%;
    height: 2px;
    background-color: var(--third-color);
    transition: transform 0.3 ease-out;
    z-index: 1100;
  }
}


.hamburguer-slide1 {
  transform:  translateY(6.9px) rotate(45deg)
}
.hamburguer-slide2 {
  transform: translateY(0px) rotate(-45deg)
}
