

$main-color-dark: #11091a; // Color principal
$secondary-color-dark: #2f2f4d; // Tonalidad más clara derivada del main
$third-color-dark:  #e8d18e; // Color complementario cálido
$text-color-dark: #bab195; // Texto principal (alto contraste para fondo oscuro).
$text-secondary-dark: #b8bbbe;


$main-color-bright: #dbeddb;// Fondo principal claro
$secondary-color-bright:#ebf9eb;
$third-color-bright:  #1f6165 ; // Elementos destacados (botones, enlaces)
$text-color-bright: #0f787d; // Fondo de secciones
$text-secondary-bright: #6D7885; // Texto secundario (menos relevante)

$primary-font: "Lato", serif;
$secondary-font: "Raleway", serif;
