<nav class="navbar" [ngClass]="{'scrolled': isScrolled}" id="navbar">
  <div class="logo-container">
    <a routerLink="/" (click)="scrollTop()"><h1 [ngStyle]="{fontStyle: 'italic'}">SR</h1></a>
  </div>

   <!-- <div class="navbar-img-container">
    <img class="navbar-img" src="../../../assets/images/sebas.png" alt="foto perfil">
   </div> -->
  <ul *ngIf="!isSmallScreen" class="menu" >
    <li (click)="toggleScroll(item.fragment!)" *ngFor="let item of menuItem" class="link no-border"><a [routerLink]="item.url" [fragment]="item.fragment" [ngClass]="{'active-link': activeLink === item.label}" >{{item.label}}</a></li>
    <!-- <li class="link no-border"><a routerLink="/" fragment="experience">Experiencia</a></li>
    <li class="link no-border"><a routerLink="/" fragment="habilities">Habilidades</a></li> -->
  </ul>

  <dark-switch (onNameChange)="passValuef($event)" />
  <hamburguer-menu [isOpen]="show" *ngIf="isSmallScreen" class="menu-hamburguer" (openMenu)="handleOpen($event)"/>
</nav>


<div class="modal" *ngIf="show">
  <div class="modal-content">
    <ul>
      <li (click)="toggleScroll(item.fragment!)" *ngFor="let item of menuItem" class="link"><a [routerLink]="item.url" [fragment]="item.fragment" [ngClass]="{'active-link': activeLink === item.label}" >{{item.label}}</a></li>
      <!-- <li class="link" routerLink="#projects" >Proyectos</li>
      <li class="link">Experiencia</li>
      <li class="link">Habilidades</li> -->
    </ul>
  </div>
</div>
