
.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1200;
  transition: backdrop-filter 0.3s ease;
  position: relative;

  // h1 {
  //   font-size: 3rem;
  //   color: var(--third-color);
  // }

  &.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px); /* Desenfoque */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    padding: 0px 30px;

  }

  .menu {
    display: flex;
    background-color: var(--secondary-color);
    padding-left: 0px;
    gap: 20px;
    padding: 0px 20px;
    border-radius: 20px;

    .link {
      color: var(--third-color);
      background-color: var(--secondary-color);
      transition: color 0.3s ease, font-weight 0.3s ease, backdrop-filter 0.3s ease;
    }
    .link:hover {
      color: var(--text-secondary-color);
      // font-weight: bold;

    }

    li {
      list-style: none;
      font-size: 1.1rem;
      cursor: pointer;
      padding: 5px;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 45%;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba($color: #fff, $alpha: 0.05 );
  padding-bottom: 20px;
}

.modal-content {
  position: absolute;
  top: 30%;
  width: 70%;
  height: 40%;
  z-index: 1000;

  ul {
    padding: 0;
    display: block;
    li {
      list-style: none;
      color: var(--text-main-color);
      font-size: 2rem;
      cursor: pointer;
      margin: 20px 10px;
      text-align: center;
    }
  }
  .link:hover {
    color: var( --main-color);
    font-weight: bold;
  }

}


.navbar-img-container {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var( --secondary-color);
  // background-color: ;
   .navbar-img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
   }
}

.logo-container {
  // border-radius: 50%;
  clip-path: polygon(
    30% 0%, 70% 0%, /* Top */
    100% 30%, 100% 70%, /* Right */
    70% 100%, 30% 100%, /* Bottom */
    0% 70%, 0% 30% /* Left */
  );
  width: 45px;
  height: 34px;
color: var(--third-color);
  // color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--third-color);


  h1 {
    margin: 0;
    font-size: 1.6rem;
  }
}

.active-link {
  color: var(--third-color); /* Cambia a tu color preferido */
  font-weight: bold;
}
