<div class="experience-item">
  <div class="experience-item-date">
    <p>{{experienceItem?.from }}  <span><b [ngStyle]="{margin: '0px 5px'}">hasta</b></span> {{ experienceItem?.until}}</p>
  </div>
  <div class="experience-item-info">
    <h2>{{experienceItem?.company}}</h2>
    <h3>{{experienceItem?.position}}</h3>
    <div class="experience-item-description">
      {{experienceItem?.description}}
    </div>
    <div class="experience-item-skills">
      <div *ngFor="let skill of experienceItem?.skills">
        <ng-icon   [attr.data-skill]="skill.name+index" (mouseenter)="showIconName($event, true, skill.name)" (mouseleave)="showIconName($event, false, skill.name)" class="clear skill-icon"  [ngStyle]="{fontSize: '2rem', margin: 'auto 5px'}"  [name]="skill.icon"></ng-icon>
        <span class="skill-name opacity-0"
        >
        {{skill.name}}</span>
      </div>
    </div>
  </div>
</div>
