<div class="home" [ngClass]="{'dark-theme': modeDark}" >
  <div class="container">
    <navbar (passValue)="changeValue($event)"
      (passScrolled)="isScrolledToggle($event)"
      (passClassObjectNavbar)="changeNavbarClass($event)"
    />
  </div>
  <div class="container" [ngStyle]="{backgroundColor: 'var(--fourth-color)'}">
    <section class="me" >
      <h2 [ngStyle]="{textAlign: 'left'}"><span [ngStyle]="{fontSize: '2.5rem'}">Sebastian Rodriguez</span></h2>
      <h3 [ngStyle]="{textAlign: 'left', marginBottom: '20px'}">Desarrollador Web</h3>
      <p>con <span>+2 años de experiencia</span> en el desarrollo de aplicaciones fullstack con <span>Angular, React y Node</span></p>
      <div class="social-media">
        <a target="_blank" href="https://github.com/sebaser99"><icon [iconTemplate]="customIconGithub" name="Github" class="icon-template"/></a>
        <a target="_blank" href="https://www.linkedin.com/in/alex-sebastian-rodriguez-romero-5226a223a/"><icon [iconTemplate]="customIconLinkedin" name="Linkedin" class="icon-template"/></a>
      </div>
    </section>
  </div>
  <div class="container">
    <section class="projects" id="projects" [ngClass]="{'scrolled': classAddNavbarObject.apply && classAddNavbarObject.tag === 'projects'}">
      <h2>Proyectos</h2>
      <h3>Lo más destacado</h3>      <!-- <p>Soluciones para problemas reales</p> -->
      <projects />
    </section>
  </div>
  <div class="container background-secondary">
    <section class="experience" id="experience" [ngClass]="{'scrolled': classAddNavbarObject.apply && classAddNavbarObject.tag === 'experience'}">
      <h2>Experiencia</h2>
      <h3>Creando Webs increíbles</h3>
      <!-- <p>La experticia es producto de la iteración constante.</p> -->
      <experience />
    </section>
  </div>

  <div class="container">
    <section class="habilities" id="habilities" [ngClass]="{'scrolled': classAddNavbarObject.apply && classAddNavbarObject.tag === 'habilities'}">
      <div class="habilities-title-container">
        <div>
          <h2>Habilidades</h2>
          <h3 [ngStyle]="{marginBottom: '20px'}" [ngStyle]>En mejora constante</h3>
        </div>
        <div class="level-container" >
          <span class="skill-level advanced" (click)="filterSkills('Avanzado')" [ngClass]="{'selected' : filter === 'Avanzado'}">Avanzado</span>
          <span class="skill-level intermediate" (click)="filterSkills('Intermedio')" [ngClass]="{'selected' : filter === 'Intermedio'}">Intermedio</span>
          <span class="skill-level basic" (click)="filterSkills('Básico')" [ngClass]="{'selected' : filter === 'Básico'}">Básico</span>
          <ng-icon class="clear" name='Todos' [ngStyle]="{fontSize: '2rem', margin: 'auto 5px'}" *ngIf="filter !== ''" name="matFilterAltOffOutline" (click)="filterSkills('')"></ng-icon>
        </div>
      </div>

      <!-- <p>Lo que aportará valor a tu compañia o proyecto.</p>   -->
      <habilities [filter]="filter"/>
    </section>
  </div>
</div>


<ng-template #customIconGithub>
  <ng-icon name="bootstrapGithub"></ng-icon>
</ng-template>

<ng-template #customIconLinkedin>
  <ng-icon name="bootstrapLinkedin"></ng-icon>
</ng-template>

