@mixin section-styles {
  padding: 40px 0px;
  color: var(--text-main-color);
  border-radius: 10px;

  h2 {
    text-align: start;
    color: var(--third-color);
    font-size: 2rem;
    span {
      color: var(--third-color);
      font-weight: bold;
    }
  }
  h3 {
    text-align: start;
    margin-top: 0px;
    margin-bottom: 50px;
    color: var(--text-secondary-color);
    font-size: 1rem;

    // &::after {
    //   margin-left: 10px;
    //   content: '______/>';
    //   color: var(--text-secondary-color);
    //   font-weight: bold;
    //   font-size: 1.5rem;
    // }
  }


  p {
    text-align: center;
    margin-top: 1.3rem;
    margin-bottom: 5px;
    margin-left: 1rem;
    font-size: 1.2rem;
    text-align: left;

    span {
      color: var(--third-color);
      font-weight: 700;
    }
  }
}


.home {
  min-height: 100vh;
  padding: 0px 0px 10px;
  background-color: var(--secondary-color);
  color: var(--secondary-color);

  h2 {
    margin: 0px;
    color: var(--secondary-color);
  }
  .me {
    @include section-styles;
    // margin-top: 20px;
    // margin-bottom: 50px;

    padding-top: 50px;
    padding-bottom: 50px;
  }


  .projects {
    @include section-styles;
    // transition: padding-top 0.3s ease;
  }
  .scrolled {
    padding-top: 50px;
  }

  .experience {
    @include section-styles;
    // background-color: var(--secondary-color);
    // margin-top: 20px;
  }

  .habilities {
    @include section-styles;
  }

}

@media screen and (min-width: 400px){
  .home {
    padding: 0px 15px 20px;
  }
}

@media screen and (min-width: 768px){
  .home {
    padding: 0px 30px 20px;

    .scrolled {
      padding-top: 100px;
    }
  }

  .me {
    padding: 30px;
    h2 {
      font-size: 2rem;
    }
  }


}

.background-secondary {
  background-color: var(--fourth-color);
  padding-top: 50px;
}

.level-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
  transition: display 0.2 ease-out;
}

@media screen and (min-width: 768px) {
  .habilities-title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    .level-container {
      margin-bottom: 0px;
    }
  }
}

.clear:hover {
  color: red;
}
