.project-card {
  padding: 0px;
  background-color: var(--secondary-color);
  margin-bottom: 50px;
  border-radius: 20px;

  .project-img-container {
    padding: 0px;
    .project-img {
      width: 100%;
    }
  }

  .project-content-container {
    padding: 0px 10px;
  }

  .project-content-container h3 {
    color: var(--third-color);
    margin-top: 1.5rem;
  }
}

@media screen and (min-width:768px){
  .project-card {
    padding: 20px 0px;
    display: flex;
    gap: 30px;

    .project-img-container,
    .project-content-container{
      flex: 1;
    }

    .project-content-container h3 {
      margin-top: 0px;
    }

    .project-img-container {
      padding: 0px 10px;
    }

  }
}


.last-card-margin-bottom {
  margin-bottom: 10px;
}

