/* You can add global styles to this file, and also import other style files */
@import "vars";
@import "fonts";

:root {
  --main-color : #{$main-color-bright};
  --secondary-color: #{$secondary-color-bright};
  --third-color: #{$third-color-bright};
  --fourth-color: #{$fourth-color-bright};
  --text-main-color: #{$text-color-bright};
  --text-secondary-color: #{$text-secondary-bright};

  --primary-font: #{$primary-font};
  --gradient1: #{$gradient1-bright};
  --gradient2: #{$gradient2-bright};       /* Azul claro inicial */
  --gradient3: #{$gradient3-bright};       /* Azul muy claro */
  --gradient4: #{$gradient4-bright};      /* Azul pastel */
  --gradient5: #{$gradient5-bright};      /* Azul brillante pastel */
  --gradient6: #{$gradient6-bright};      /* Azul intermedio brillante */
  --gradient7: #{$gradient7-bright};
  --gradient8: #{$gradient8-bright};   /* Azul más vibrante */
  --gradient9: #{$gradient9-bright};
  --icon-text-color: #{$icon-text-color-bright};
  --text-color-ironman: #{$text-color-ironman-bright};
}

.dark-theme {
  .home{
  --main-color : #{$main-color-dark};
  --secondary-color: #{$secondary-color-dark};
  --third-color: #{$third-color-dark};
  --fourth-color: #{$fourth-color-dark};
  --text-main-color: #{$text-color-dark};
  --text-secondary-color: #{$text-secondary-dark};
  --icon-text-color: #{$icon-text-color-dark};
  --text-color-ironman: #{$text-color-ironman-dark};

  --gradient1: #{$gradient1-dark};
  --gradient2: #{$gradient2-dark};       /* Azul claro inicial */
  --gradient3: #{$gradient3-dark};       /* Azul muy claro */
  --gradient4: #{$gradient4-dark};      /* Azul pastel */
  --gradient5: #{$gradient5-dark};      /* Azul brillante pastel */
  --gradient6: #{$gradient6-dark};      /* Azul intermedio brillante */
  --gradient7: #{$gradient7-dark};
  --gradient8: #{$gradient8-dark};   /* Azul más vibrante */
  --gradient9: #{$gradient9-dark};
  }
}
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--secondary-color);
}
body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  color: var(--text-main-color);

}
*, *:after, *:before {
  box-sizing: border-box;
}

.button {
  padding: 10px 20px;
  border-radius: 15px;
}
.button:hover {
  background-color: $main-color-dark;
  color: $secondary-color-dark;
}

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0px 1rem;
  background-color: var(--main-color);

}

@mixin flex-social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

@mixin background-social {
  background-color: var(--secondary-color);
  border: 1px solid var(--text- secondary-color);
  border-radius: 25px;
  padding: 0px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in, color 0.2s ease;

  &:hover {
    background-color: var(--text-main-color);
    color: var(--main-color);
  }
}


.github, .icon-template {
  @include flex-social;
  @include background-social;

  p {
    font-size: 16px;
  }
}
.linkedin {
  @include flex-social;
  @include background-social;
  p {
    font-size: 1rem;
  }

}

.social-media {
  @include flex-social;
  padding-left: 10px;
  gap: 30px;
  margin-top: 20px;
  flex-wrap: wrap;

}

.stack {
  @include flex-social;
  border-radius: 25px;
  padding: 5px 8px;
  position: relative;

  p {
    margin: 0px;
  }

  &:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
}

.link {
  @include flex-social;
  @include background-social;
  border-radius: 25px;
  padding: 5px 10px;
  border: 1px solid var(--text-main-color);;
}

.no-border {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}


@media screen and (min-width: 768px) {
  .container {
    padding: 0px 3rem;
  }
}

.tooltip {
  display: inline-block;
  visibility:hidden;
  position: absolute;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  bottom: 125%; /* Ajusta según la posición deseada */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.skill-level {
  display: inline-block;
  padding: 5px 0px;
    // border-radius: 20px;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px;
  min-width: 73px;
  text-align: center;
}

.skill-level.basic {
  background-color: #cce5ff;
  color: #004085;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px dotted #004085;
}
.skill-level.basic:hover,
.skill-level.basic.selected{
  transform: translateY(-5px);
    box-shadow: 0 10px 15px var(--third-color),
                0 4px 6px var(--text-secondary-color);
}

.skill-level.intermediate {
  background-color: #fff3cd;
  color: #856404;
  border: 1px dotted #856404;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill-level.intermediate:hover,
.skill-level.intermediate.selected {
  transform: translateY(-5px);
    box-shadow: 0 10px 15px var(--third-color),
                0 4px 6px var(--text-secondary-color);
}

.skill-level.advanced {
  background-color: #046c8f;
  border: 1px dotted #ebf9eb;
  color: #fff;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-level.advanced:hover,
.skill-level.advanced.selected{
  transform: translateY(-5px);
    box-shadow: 0 10px 15px var(--third-color),
                0 4px 6px var(--text-secondary-color);
}
.all {
  margin: auto 5px;
  padding: 5px 0px;
  text-decoration: underline;
  font-weight: bold;
}

.fade-in-out {
  opacity: 0;
  transform: translateY(-20px); /* Ajuste de posición inicial */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in-out.visible {
  opacity: 1;
  transform: translateY(0); /* Vuelve a su posición normal */
}

.fade-in-out.hidden {
  opacity: 0;
  transform: translateY(-20px);
}

.background-me{
  background: linear-gradient(
    to bottom,
    var(--gradient1),
    var(--gradient2),       /* Azul claro inicial */
    var(--gradient3),       /* Azul muy claro */
    var(--gradient4),      /* Azul pastel */
    var(--gradient5),      /* Azul brillante pastel */
    var(--gradient6),      /* Azul intermedio brillante */
    var(--gradient7),
    var(--gradient8),   /* Azul más vibrante */
    var(--gradient9),
  );
}
.background-ironman{
  background: linear-gradient(
    to right,
    var(--gradient1),
    var(--gradient2),       /* Azul claro inicial */
    var(--gradient3),       /* Azul muy claro */
    var(--gradient4),      /* Azul pastel */
    var(--gradient5),      /* Azul brillante pastel */
    var(--gradient6),      /* Azul intermedio brillante */
    var(--gradient7),
    var(--gradient8),   /* Azul más vibrante */
    var(--gradient9),
  );
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo-container {
  // border-radius: 50%;
  clip-path: polygon(
    30% 0%, 70% 0%, /* Top */
    100% 30%, 100% 70%, /* Right */
    70% 100%, 30% 100%, /* Bottom */
    0% 70%, 0% 30% /* Left */
  );
  width: 45px;
  height: 34px;
color: var(--third-color);
  // color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--third-color);


  h1 {
    margin: 0;
    font-size: 1.6rem;
  }
}
